
<div class="row bg-secondary m-3 rounded-pill">
    <div class="col-4 d-inline">
        <i class="fa fa-search my-3 mx-3 fs-1"></i>
    </div>
    <div class="col-4 d-inline">
        <button class="btn bg-dark mx-3 mt-3 text-white" data-bs-toggle="modal" data-bs-target="#search" > <!-- (click)="search_request()" -->    
            search     
        </button>
        <button class="btn bg-dark mx-3 mt-3 text-white" data-bs-toggle="modal" data-bs-target="#sort">   <!-- (click)="sort_request()" -->  
            sort
        </button>
        <button class="btn bg-dark mx-3 mt-3 text-white" data-bs-toggle="modal" data-bs-target="#filter">    <!-- (click)="filter_request()" --> 
            filter
        </button>
    </div>
    

    <!-- move to folder -->
    <div class="col-4 align-self-end mb-3 d-inline" style="position: absolute; left:104%;">
        <button class="btn bg-dark" (click)="getUserFolder()" data-bs-toggle="modal" data-bs-target="#myModal">    
            <i class="fa fa-arrow-right text-white"></i> 
            &nbsp;   
            <i class="fa fa-folder-open text-white"></i>        
        </button>
    </div>
    
    <!-- delete -->
    <div class="col-1 align-self-end mb-3 d-inline"  style="position: absolute; left:110%;">
        <button class="btn bg-dark" (click)="collectDeleted_request()">
            <i class="fa fa-trash fs-3 text-white text-center"></i>
        </button>
    </div>
</div>

<div class="row" id="listRow">
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start h-100"  *ngFor=" let item of getToShow() | paginate: { itemsPerPage: messagesPerPage, currentPage: page }; let i = index;">
            <div class="col-2 " id="checkBoxItem" (change)="isChecked($event, i)">
                    <input class="form-check-input mt-2" type="checkbox" value="" id="{{i}}" style="height: 30px; width: 30px; ">
            </div>
            
            <div class="col-10 d-inline" >
                
                <div class="col-2 fs-3 text-center" id="subjectItem" style="position: absolute; left: 1%;">
                    {{item.from}}
                </div>
                <div class="col-2 fs-3 text-center" id="subjectItem" style="position: absolute; left: 10%;">
                    {{item.to}}
                </div>
                
                <div class="col-2 fs-3 text-center" id="subjectItem" style="position: absolute; left: 20%;" *ngIf="item.subject.length <= 15">
                    {{item.subject}}
                </div>
                <div class="col-2 fs-3 text-center" id="subjectItem" style="position: absolute; left: 20%;" *ngIf="item.subject.length > 15">
                    {{item.subject.substring(0, 15) + "..."}}
                </div>
                <div class="col-3 d-inline text-center" id="subjectItem" style="position: absolute; left: 40%;" *ngIf="item.message.length <= 30">
                    {{item.message}}
                </div>
                <div class="col-3 d-inline text-center" id="subjectItem" style="position: absolute; left: 40%;" *ngIf="item.message.length > 30">
                    {{item.message.substring(0, 30) + "..."}}
                </div>
                <div class="col-2 d-inline text-center" id="subjectItem" style="position: absolute; right:20%">
                    {{item.date}}
                </div>
                <div class="col-3 d-inline text-center" (click)="showMessage(i)">
                    <button class="btn btn-secondary bg-dark text-center mx-3" style="position: absolute; right:0%">show message</button>
                </div>
            </div>
        </div>

    </div>
    <pagination-controls class="my-pagination" (pageChange)="page = $event; resetChecked();"></pagination-controls>
</div>

<!-- pop up window to choose moved file -->
<div class="container">
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-folder mx-3 mt-3 mb-2"></i> folders you have  </h5>
            <button type="button" class="btn-close bg-secondary rounded-pill" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-4" *ngFor="let folder of userFolders let i = index">
                <button type="button" class="btn btn-primary mb-3 " data-bs-dismiss="modal" (click)="collectMoved_request(i)">{{folder}}</button>
            </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary bg-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
</div>

<!-- pop up window to search operation -->
<div class="container">
  
    <!-- Modal -->
    <div class="modal fade" id="search" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">  search operation </h2>
            <button type="button" class="btn-close bg-secondary rounded-pill" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <!-- start logic -->
            <form>              
                <div class="row">
                    <div class="col-3">
                        <label class="fs-3 mx-2" for="exampleInputEmail1">search</label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="search bar" #search (blur)="searchValue = search.value">
                    </div>
                </div>        
                <div class="row mt-3">
                    <div class="col-2">  
                        <button class="btn btn-primary d-inline" (click)="setSearchType('Sender'); search_request()" data-bs-dismiss="modal">by sender</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary d-inline" (click)="setSearchType('Reciever'); search_request()" data-bs-dismiss="modal">by reciver</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary d-inline" (click)="setSearchType('Subject'); search_request()" data-bs-dismiss="modal">by subject</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary d-inline" (click)="setSearchType('Importance'); search_request()" data-bs-dismiss="modal">by priority</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary d-inline" (click)="setSearchType('Date'); search_request()" data-bs-dismiss="modal">by date</button>

                    </div>
                    <!-- has attachment? -->
                </div>
            </form>
            <!-- end logic -->
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary bg-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
</div>

<!-- pop up window to sort operation -->
<div class="container">
  
    <!-- Modal -->
    <div class="modal fade" id="sort" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">  sort operation  </h2>
            <button type="button" class="btn-close bg-secondary rounded-pill" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <!-- start logic -->
            <div form-group class="row g-0">
                <div class="col mb-3 mx-3">
                    <span class="m-3 inline">order type</span>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" checked (change)=" htmlOrderType = !htmlOrderType">
                        <label class="form-check-label" for="male">
                            ascending
                        </label>
                        </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" (change)=" htmlOrderType = !htmlOrderType" >
                        <label class="form-check-label" for="female">
                            descending
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">  
                    <button class="btn btn-primary d-inline" (click)="setSortType('Sender'); sort_request()" data-bs-dismiss="modal">by sender</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary d-inline" (click)="setSortType('Reciever'); sort_request()" data-bs-dismiss="modal">by reciver</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary d-inline" (click)="setSortType('Subject'); sort_request()" data-bs-dismiss="modal">by subject</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary d-inline" (click)="setSortType('Importance'); sort_request()" data-bs-dismiss="modal">by priority</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary d-inline" (click)="setSortType('Date'); sort_request()" data-bs-dismiss="modal">by date</button>
                </div>
                <!-- has attachment? -->
            </div>
            <!-- end logic -->
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary bg-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
</div>

<!-- pop up window to filter operation -->
<div class="container">
  
    <!-- Modal -->
    <div class="modal fade" id="filter" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">  filter operation  </h2>
            <button type="button" class="btn-close bg-secondary rounded-pill" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <!-- start logic -->
            
            <form>              
                <div class="row">
                    <div class="col-3">
                        <label class="fs-3 mx-2" for="exampleInputEmail1">subject</label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="enter subject if exists" #sub (blur)="setSubjectValue(sub.value)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="fs-3 mx-2" for="exampleInputEmail1">sender</label>
                    </div>
                    <div class="col-8">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="enter sender if exists" #sr (blur)="setSenderValue(sr.value)">
                    </div>
                </div>   
            </form>
            
            <!-- end logic -->
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary bg-primary rounded-pill" data-bs-dismiss="modal" (click)="filter_request()">perform</button>
          </div>
        </div>
        
      </div>
    </div>
    
</div>

