<div class="contactsButtons" style="width: 100%;">
    <button class="createButton" id = "add" value = "add" (click) = "add()" >Add</button>
    <button class="createButton" id="display" (click) = "display()" >Show Contacts</button>
    <button class="createButton" id="display" (click) = "sortA()" >Sort Ascendingly</button>
    <button class="createButton" id="display" (click) = "sortD()" >Sort Descendingly</button>
    <button class="createButton" data-bs-toggle="modal" data-bs-target="#contactSearch">Search</button>
</div>

<div class="ContactsContainer">

    <table class="table">
        <thead >
            <tr class="td">
                <th class="Num" style="max-width: 15px;border-top-left-radius: 20px;">
                    No.
                </th>
                <th class="th" >
                    Name
                </th>
                <th  class="th">
                    Emails
                </th>
                <th class="edit">
                    Edit
                </th>
                <th style="max-width: 10%;font-size :20px;border-top-right-radius: 20px; border-top: 1px solid black;border-right: 2px solid black;">
                    Delete
                </th>
            </tr>
        </thead>
        
        <tbody style="border: 30px solid white;">
            <tr style="border: 30px solid white;" *ngFor="let data of dis;let i = index">
                <td style="font-size: 30px;">{{i+1}}</td>
                <td style="font-size:30px;">
                    <div *ngIf="data.edit" style="max-width: 100px;">
                        <input id="username2" type="text" ng-model="data.username"  />
                    </div>
                    <div *ngIf="!data.edit">
                    {{data.username}}
                    </div>
                </td>
                <td style="font-size:30px;">
                    <div *ngIf="data.edit" style="max-width: 100px;">
                        <input id="emails2" type="text" ng-model="data.emails" />
                    </div>
                    <div *ngIf="!data.edit">
                    {{data.emails}}
                    </div>
                </td>
                <td >
                    <div *ngIf="data.edit" style="max-width: 30px;">
                        <button class="editH" style="width: 140px;margin-left:20px;background-color: rgb(71, 214, 114);border-radius: 20px;color: white;" (click)="confirmEdit(data.username)" >Update</button> 
                        <button class="editH" style="width:140px;margin-left:20px;margin-top: 10px;border-radius: 20px;color: white;background-color: red;" (click)="cancelEdit(data.username)" >Cancel</button> 
                    </div>
                    <div *ngIf="!data.edit" style="max-width: 30px;">
                        <button class="editH" style="width: 180px;border-radius: 20px;"  (click)="Edit(data.username)" >Edit</button> 
                    </div>
                    
                </td>
                <td>
                    <button class="deleteButton" (click)="delete(data.username)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>





<div class = "addContact" id= "addForm">
    <table>
     <label style="margin-left: 20px;font-size: 25px;margin-top: 50px;padding: 10px;" >Contact Name</label>
    <input style="width: 300px;margin-right: 20px;" type="text" id="username" required  >
    <tr></tr>
    <label style="margin-left: 20px;font-size: 25px;margin-top: 50px;padding: 10px;">Email Address</label>
    <input style="width: 300px;margin-right: 20px;" type="text" id="email" required >
    <tr></tr>
    <button style="margin-left: 170px;margin-top: 50px;" class="createButton" (click) = "addContactForm();display()" >Create New Contact</button>
    <button style="margin-left: 170px;margin-top: 20px;" class="createButton" (click) = "addEmailForm();display()" >Add email</button>
    <button style="margin-left: 170px;margin-top: 20px;" class="createButton" (click) = "close()" >Close</button>
    </table>
    
</div>
</div>

<!-- search div -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="contactSearch" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-folder mx-3 mt-3 mb-2"></i> folders
                        you have </h5>
                    <button type="button" class="btn-close bg-secondary rounded-pill" data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <label class="fs-3 mx-2" for="exampleInputEmail1">search</label>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="search bar" #search (blur)="searchValue = search.value">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary bg-secondary rounded-pill" data-bs-dismiss="modal" (click) ="searchh()">Search</button>
                        
                </div>
            </div>
        </div>
    </div>
</div>
