
<div class="header text-center bg-secondary rounded-pill m-4 fs-2">
    Message
</div>

<dl class="row">

    <dt class="col-sm-3 fs-3">perioriy:</dt>
    <dd class="col-sm-9 fs-3">{{data.priorty}}</dd>

    <dt class="col-sm-3 fs-3">from:</dt>
    <dd class="col-sm-9 fs-3">{{data.from}}</dd>

    <hr/>

    <dt class="col-sm-3 fs-3">subject:</dt>
    <dd class="col-sm-9 fs-3">{{data.subject}}</dd>

    <hr/>

    <dt class="col-sm-3 fs-3">Message:</dt>
    <dd class="col-sm-9 fs-3">{{data.message}}</dd>

    <hr/>

    <dt class="col-sm-3 fs-3" *ngIf="showedAttachments.length > 0">attachments</dt>
    <dd class="col-sm-9 fs-3" *ngIf="showedAttachments.length > 0">
        <div class="row fs-3" *ngFor="let att of showedAttachments; let i = index">
            <li class="col" > <button class="btn hover-overlay rounded-pill bg-secondary mb-2" id="attach" (click)="enableIndicator(); makeFileNum(i)"> {{att}} </button> </li>
        </div>
        <div class="row fs-3">
            <li class="col" > <button class="btn hover-overlay rounded-pill bg-secondary mb-2" id="attach" (click)="enableIndicator(); makeFileNum(-1)"> Download All </button> </li>
        </div>
        <div class="row bg-secondary m-3 rounded-pill" *ngIf="downloadIndicator">

            <div class="col-2 d-inline">
                <i class="fa fa-folder mx-3 mt-3 mb-2"></i>
            </div>

            <div class="col-8 d-inline">
                <input class="form-control mx-3 mt-2 mb-2" id="ex2" placeholder="enterPath" type="text" #path (blur)="setPath(path.value)">
            </div>

            <div class="col-2 d-inline">
                <button type="button" class="btn btn-secondary bg-dark mt-2 mx-1 mb-2 rounded-pill" (click)="downloadedFile()">
                    <i class="fa fa-download"></i> 
                </button>
            </div>

        </div>

    </dd>

    <hr/>

    <dt class="col-sm-3 fs-3">date:</dt>
    <dd class="col-sm-9 fs-3">{{data.date}}</dd>
</dl>
