<div class="container" >
    <table class="table" style="border-style:ridge;" >
        <label style="font-size: 30px;"><b>Username</b></label>
        <tr></tr>
            <input style="font-size: 30px;" type="text" placeholder="Enter Username" #userName (blur)="setUserName(userName.value)" required>
        <tr></tr>
        <label style="font-size: 30px;"><b>Password</b></label>
        <tr></tr>
            <input style="font-size: 30px;" type="password" placeholder="Enter Password" #password (blur)="setPass(password.value)" required>

        <tr></tr>
       <button class="loginButton" (click)="signUp()">Sign Up</button>
       <button class="loginButton" (click)="login()">Login</button> 
    </table>

    
</div>
