#loginContainer{
    justify-content: center;
    align-items:  center;
    display: flex;
    position:absolute;
    top: 10%;
    left: 10%;
    height: 80%;
}

#signUpContainer{
    justify-content: center;
    align-items:  center;
    display: flex;
    position:absolute;
    top: 10%;
    left: 10%;
    border-radius: 15px;
    height: 80%;
}

#allDataLogin{
    border-radius: 15px;
    height: 100%;
    width: 50%;
    box-shadow: rgb(74, 83, 87) 0px 0px 20px 20px, rgb(213, 222, 226) 0px 0px 10px 5px;
}

#allDataSignUp{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    box-shadow: rgb(74, 83, 87) 0px 0px 20px 20px, rgb(213, 222, 226) 0px 0px 10px 5px;
}

#helloLabel{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(53, 171, 225);
}

#formPart #labelPart{
    width: 50%;
    height: 100%;
    justify-content: center;
}

#labelPart{
    background-image: linear-gradient(to top, rgb(16, 106, 147), rgb(101, 198, 250));
    border-radius: 15px;
    text-align: center;
    padding-top: 20%;
    color: white;
}

#signUpBtn{
    width: 50%;
    margin-left: 25%;
}

#logInBtn{
    width: 50%;
    margin-left: 25%;
}