.container{
    position:absolute;
    top: 1%;
    left: 1%;
}

#allOverRow{
    height: 800px;
    width: 1700px;
}



#toolBar{
    background-color: black;
    border-radius: 15px;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #746a1b;
    border-color: #746a1b; /*set the color you want here*/
}