.head {
    position: relative;
    left: 20%;
}

.name {
    position: relative;
    top: 5%;
    left: 0%;
    font-size: x-large;
}

#fileInput {
    position: relative;
    top: 30%;
    left: 0%;
    color: rgb(255, 0, 0);
}


#name {
    position: relative;
    top: 5%;
    left: 0%;
    font-size: x-large;
}

.subject {
    position: relative;
    top: 10%;
    left: 0%;
    font-size: x-large;
}

#subject {
    position: relative;
    top: 10%;
    left: 0%;
    font-size: x-large;
}

.Content {
    position: relative;
    top: 15%;
    left: 0%;
    font-size: x-large;
}

#Content {
    position: relative;
    top: 15%;
    left: 0%;
    width: 90%;
    height: 20%;
    font-size: x-large;
}

#close {
    position: relative;
    left: 5%;
    top: 15%;
    border-radius: 20px;
    color: aliceblue;
    background-color: blueviolet;
    width: 100px;
    height: 30px;
}

#draft {
    position: relative;
    left: 10%;
    top: 15%;
    border-radius: 20px;
    color: aliceblue;
    background-color: blueviolet;
    width: 100px;
    height: 30px;
}

#send {
    position: relative;
    left: 15%;
    top: 15%;
    border-radius: 20px;
    color: aliceblue;
    background-color: blueviolet;
    width: 100px;
    height: 30px;
}

.allAttach {
    position: relative;
    top: 35%;
    left: 0%;
}

.holdAttach {
    position: relative;
    display: flex;
    border: 2px solid black;
    margin-bottom: 5px;
}

.attach {
    display: inline;
    padding: 5px;
    /* margin-bottom: 5px; */
}

.holdAttach:hover {
    background-color: antiquewhite;
}

.holdAttach button {
    position: absolute;
    height: 100%;
    width: 50px;
    border: none;
    right: 0%;
}

.Prioritylab {
    position: relative;
    left: -41%;
    top: 24%;
    margin-right: 10px;
}

.Prioritybtn {
    width: 30px;
    position: relative;
    top: 24%;
    margin-right: 10px;
    border-radius: 100%;
    background-color: blueviolet;
    color: white;
}

.numbers {
    display: inline;
    position: relative;
    left: calc(-41% + 80px);
}