<div>
    
    <div class="toolBar">

    <table>
        <button type="button" class="composeBut" (click)="appearCompose()"> Compose </button>
        <tr></tr> 
        <button type="button" class="inboxBut" (click)="gotoInbox()">Inbox</button>
        <tr></tr>
        <button type="button" class="draftBut" (click)="gotoDraft()">Draft</button>
        <tr></tr>
        <button type="button" class="sentBut" (click)="gotoSent()">Sent</button>
        <tr></tr>
        <button type="button" class="contactsBut" (click)="gotoContacts()">Contacts</button>
        <button type="button" class="trashBut" (click)="gotoTrash()">Trash</button>
    </table>
   <button  class="signOut" (click)="signOut()">Sign Out</button>
    
</div>

    <!-- <div class="search"></div> -->
    <div class="dataContained">
        <router-outlet></router-outlet>
    </div>


</div>
