
<h1 class="head"> New Message </h1>
<label for="name" class="name">To:</label>
<input type="text" name="name" id="name" placeholder="reciever" #reciver (blur)="setReciver(reciver.value)" /><br />
<label for="Email" class="subject">subject:</label>
<input type="text" name="email" id="subject" placeholder="subject" #subject (blur)="setSubject(subject.value)" /><br />
<label for="Message" class="Content">Message:</label><br />
<textarea name="message" rows="20" cols="20" id="Content" placeholder="content" #message
    (blur)="setMessage(message.value)"></textarea>
<div></div>
<button type="button" id="close">Close</button>
<button type="button" id="draft">To draft</button>
<button type="button" id="send" (click)="sendMessage()">Send!</button>
<input id="fileInput" type="file" multiple #attach (change)="sendAttach(attach.files)">
<ul class="allAttach">
    <div *ngFor='let i of filesNames' class="holdAttach">
        <li class="attach"> {{i}} </li>
        <button (click)="removeAttach(i)">x</button>
    </div>
</ul>

