
.loginButton{
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
}
.loginButton:hover{
    background-color: rgb(188, 224, 241); 
}
.container{
    margin-top:300px;
    margin-left: 950px;
}
.table{
    border-spacing: 20px;
    border-top: 20px;
    border-top-color: black;
    position: absolute;
    left: 500px;
    top: 200px;
}