<div class="contactsButtons" style="width: 70%;">
    <button class="createButton" id = "add" value = "add" (click) = "add()" >Add</button>
    <button class="createButton" id="display" (click) = "display()" >Show Contacts</button>
</div>

<div class="ContactsContainer">

    <table class="table">
        <thead>
            <tr class="td">
                <th class="Num" style="max-width: 15px;">
                    No.
                </th>
                <th class="th" >
                    Name
                </th>
                <th  class="th">
                    Emails
                </th>
                <th class="edit">
                    Edit
                </th>
                <th style="max-width: 10%;border-top: 2px solid black;border-right: 2px solid black;">
                    Delete
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let data of dis;let i = index">
                <td style="font-size: 30px;">{{i+1}}</td>
                <td style="font-size:30px;">
                    <div *ngIf="data.edit" style="max-width: 100px;">
                        <input id="username2" type="text" ng-model="data.username"  />
                    </div>
                    <div *ngIf="!data.edit">
                    {{data.username}}
                    </div>
                </td>
                <td style="font-size:30px;">
                    <div *ngIf="data.edit" style="max-width: 100px;">
                        <input id="emails2" type="text" ng-model="data.emails" />
                    </div>
                    <div *ngIf="!data.edit">
                    {{data.emails}}
                    </div>
                </td>
                <td >
                    <div *ngIf="data.edit" style="max-width: 30px;">
                        <button class="editH" style="width: 140px;margin-left:20px;background-color: rgb(71, 214, 114);border-radius: 20px;color: white;" (click)="confirmEdit(data.username)" >Update</button> 
                        <button class="editH" style="width:140px;margin-left:20px;margin-top: 10px;border-radius: 20px;color: white;background-color: red;" (click)="cancelEdit(data.username)" >Cancel</button> 
                    </div>
                    <div *ngIf="!data.edit" style="max-width: 30px;">
                        <button class="editH" style="width: 180px;border-radius: 20px;"  (click)="Edit(data.username)" >Edit</button> 
                    </div>
                    
                </td>
                <td>
                    <button class="deleteButton" (click)="delete(data.username)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>





<div class = "addContact" id= "addForm">
    <table>
     <label style="margin-left: 20px;font-size: 25px;margin-top: 50px;padding: 10px;" >Contact Name</label>
    <input style="width: 300px;margin-right: 20px;" type="text" id="username" required  >
    <tr></tr>
    <label style="margin-left: 20px;font-size: 25px;margin-top: 50px;padding: 10px;">Email Address</label>
    <input style="width: 300px;margin-right: 20px;" type="text" id="email" required >
    <tr></tr>
    <button style="margin-left: 170px;margin-top: 50px;" class="createButton" (click) = "addContactForm();display()" >Create New Contact</button>
    <button style="margin-left: 170px;margin-top: 20px;" class="createButton" (click) = "addEmailForm();display()" >Add email</button>
    </table>
    
</div>
</div>
