
<div class="header text-center bg-primary rounded-pill m-4 fs-2">
    Message
</div>

<dl class="row">


    <dt class="col-sm-3 fs-3">from:</dt>
    <dd class="col-sm-9 fs-3">{{data.from}}</dd>

    <dt class="col-sm-3 fs-3">subject:</dt>
    <dd class="col-sm-9 fs-3">
        <p>{{data.subject}}</p>
    </dd>

    <dt class="col-sm-3 fs-3">Message:</dt>
    <dd class="col-sm-9 fs-3">{{data.message}}</dd>

    <dt class="col-sm-3 fs-3" *ngIf="data.attachment.length > 0">attachments</dt>
    <dd class="col-sm-9 fs-3" *ngIf="data.attachment.length > 0">
    <div class="row fs-3" *ngFor="let att of data.attachment">
        <li class="col" > <button class="btn hover-overlay rounded-pill bg-secondary mb-2" id="attach"> {{att}} </button> </li>
    </div>
    </dd>
</dl>
