
<div class="row bg-secondary m-3 rounded-pill">
    <div class="col-2 d-inline">
        <i class="fa fa-search my-3 mx-3 fs-1"></i>
    </div>
    <div class="col-6 d-inline">
        <input class="form-control mt-3" id="ex2" placeholder="search email...." type="text">
    </div>
    

    <!-- move to folder -->
    <div class="col-3 align-self-end mb-3 d-inline" style="position: absolute; left:104%;">
        <button class="btn bg-dark" data-bs-toggle="modal" data-bs-target="#myModal">    
            <i class="fa fa-arrow-right text-white"></i> 
            &nbsp;   
            <i class="fa fa-folder-open text-white"></i>        
        </button>
    </div>
    
    <!-- delete -->
    <div class="col-1 align-self-end mb-3 d-inline"  style="position: absolute; left:110%;">
        <button class="btn bg-dark" (click)="collectDeleted_request()">
            <i class="fa fa-trash fs-3 text-white text-center"></i>
        </button>
    </div>
</div>

<div class="row" id="listRow">
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start h-100"  *ngFor=" let item of toShow | paginate: { itemsPerPage: messagesPerPage, currentPage: page }; let i = index;">
            <div class="col-2 " id="checkBoxItem" (change)="isChecked($event, i)">
                    <input class="form-check-input mt-2" type="checkbox" value="" id="{{i}}" style="height: 30px; width: 30px; ">
            </div>
            
            <div class="col-10 d-inline" >
                <div class="col-3 fs-3 text-center" id="subjectItem">
                    {{item.from}}
                </div>
                <div class="col-3 fs-3 text-center" id="subjectItem" *ngIf="item.subject.length < 20">
                    {{item.subject}}
                </div>
                <div class="col-3 fs-3 text-center" id="subjectItem" *ngIf="item.subject.length > 20">
                    {{item.subject.substring(0, 20) + "..."}}
                </div>
                <div class="col-3 d-inline text-center" id="subjectItem" *ngIf="item.message.length < 50">
                    {{item.message}}
                </div>
                <div class="col-3 d-inline text-center" id="subjectItem" *ngIf="item.message.length > 50">
                    {{item.message.substring(0, 50) + "..."}}
                </div>
                <div class="col-3 d-inline text-center" (click)="showMessage(i)">
                    <button class="btn btn-secondary bg-dark text-center mx-3" style="position: absolute; right:0%">show message</button>
                </div>
            </div>
        </div>

    </div>
    <pagination-controls class="my-pagination" (pageChange)="page = $event; resetChecked();"></pagination-controls>
</div>


<!-- pop up window to choose moved file -->
<div class="container">
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-folder mx-3 mt-3 mb-2"></i> folders you have  </h5>
            <button type="button" class="btn-close bg-secondary rounded-pill" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row mx-4" *ngFor="let mes of toShow let i = index">
                <button type="button" class="btn btn-primary mb-3 " data-bs-dismiss="modal" (click)="printcounter(i)">{{mes.subject}}</button>
            </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-primary bg-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
</div>