/* pages manipulation colors */

.my-pagination ::ng-deep .ngx-pagination{
    width: 25%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 35%;
    margin-top: 2%;
    background-color: black;
    border-radius: 15px;
}

.my-pagination ::ng-deep .ngx-pagination .current{
    color: rgb(255, 255, 255);
    background-color:rgb(38, 47, 215);
}

.my-pagination ::ng-deep .ngx-pagination :hover{
    background-color: rgb(32, 71, 143);
}

#listRow{
    overflow: auto;
}

#listItem{
    width: 50%;
}

#subjectItem{
    max-width: 100px;
    display: inline;
    margin-left: 7%;
}

#checkBoxItem{
    display: inline;

}
/* end pages manipulation colors */