/* pages manipulation colors */

.my-pagination ::ng-deep .ngx-pagination{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 35%;
}

.my-pagination ::ng-deep .ngx-pagination .current{
    color: rgb(16, 0, 105);
    
}

.my-pagination ::ng-deep .ngx-pagination :hover{
    background-color: rgb(192, 169, 255);
}

#listRow{
    overflow: auto;
}

#subjectItem{
    display: inline;
    margin-left: 10%;
}

#checkBoxItem{
    display: inline;

}
/* end pages manipulation colors */