
<div class="row bg-secondary m-3 rounded-pill">
    <div class="col-1 d-inline">
        <i class="fa fa-search my-3 mx-3 fs-1"></i>
    </div>
    <div class="col-8 d-inline">
        <input class="form-control mt-3" id="ex2" placeholder="search email...." type="text">
    </div>
    <div class="col-3 d-inline">
        <i class="fa fa-tasks fs-1 mt-3 text-center" style="margin-left: 75px;"></i>
    </div>
</div>

<div class="row" id="listRow">
    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start h-100" *ngFor=" let item of toShow | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;">
            <div class="col-2 " id="checkBoxItem">
                    <input class="form-check-input mt-2" type="checkbox" value="" id="{{i}}" style="height: 30px; width: 30px; ">
            </div>
            
            <div class="col-5 fs-3 text-center" id="subjectItem">
                {{item.from}}
            </div>
            <div class="col-5 fs-3 text-center" id="subjectItem">
                {{item.subject}}
            </div>
            <div class="col-5 d-inline" id="subjectItem">
                {{item.message}}
            </div>
            <!-- <small>{{item.date}}</small> -->
        </a>

    </div>
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>