<div class="bg-image" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).webp');
    height: 100vh;
    ">
</div>

<!-- /////////////////////////// -->

<div class="container">
    <div class="row" id="allOverRow">
        
        <!-- toolBar -->
        <div class="col-2 my-3" id="toolBar">

            <div form-group class="row">
                <label for="firstname" class="text-white p-2 fs-1 text-center">
                    <i class="fa fa-bars"></i>
                    Menu
                </label>

            </div>

            <div class="row m-3 g-0">
                <button type="button" class="btn btn-secondary" (click)="appearCompose()">
                    <i class="fa fa-comments"></i>
                    <i class="fa fa-paper-plane"></i>
                    compose 
                    <span class="bg-dark rounded-pill text-white text-right">02</span>
                </button>
            </div>

            <div class="row m-3 g-0">
                <button type="button" class="btn btn-secondary" (click)="gotoInbox()">
                    <i class="fa fa-inbox"></i>
                    Inbox
                    <span class="bg-dark rounded-pill text-white text-right">02</span>
                </button>
            </div>

            <div class="row m-3 g-0">
                <button type="button" class="btn btn-secondary" (click)="gotoDraft()">
                    <i class="fa fa-file"></i>
                    Draft
                    <span class="bg-dark rounded-pill text-white text-right">02</span>
                </button>
            </div>

            <div class="row m-3 g-0">
                <button type="button" class="btn btn-secondary" (click)="gotoSent()">
                    <i class="fa fa-paper-plane"></i>
                    Sent
                    <span class="bg-dark rounded-pill text-white text-right">02</span>
                </button>
            </div>

            <div class="row m-3 g-0">
                <button type="button" class="btn btn-secondary" (click)="gotoContacts()">
                    <i class="fa fa-address-book"></i>
                    Contacts
                    <span class="bg-dark rounded-pill text-white text-right">02</span>
                </button>
            </div>

            <div class="row m-3 g-0">
                <button type="button" class="btn btn-secondary" (click)="gotoTrash()">
                    <i class="fa fa-trash"></i>
                    Trash
                    <span class="bg-dark rounded-pill text-white text-right">02</span>
                </button>
            </div>

        </div>

        <!-- right column -->
        <div class="col-9 mx-3 my-3" id="rightCol">

            <div class="row bg-secondary m-3 rounded-pill">
                <div class="col-1 d-inline">
                    <i class="fa fa-accessible-icon m-3 fs-2">&#xf2c1;</i>
                </div>
                <div class="col-9 d-inline text-center">
                    <label class="mt-2 fs-3">{{ getActiveuser() }}</label>
                </div>
                <div class="col-2 d-inline">
                    <button type="button" class="btn btn-secondary bg-dark mt-3 rounded-pill" >
                        <i class="fa fa-sign-out text-white "></i>
                        Sign Out
                    </button>
                </div>
            </div>

             <!-- data rendering -->
            <router-outlet></router-outlet>

        </div>

    </div>
</div>

<!-- /////////////////////////// -->


    
